* {
	padding: 0;
	margin: 0;
	color: #b7b7b7;
}

canvas{
	border:1px solid black;
	margin-top:20px;
	margin-left:300px;
	margin-right:0;
	margin-bottom:0;
	transition: all ease-in-out 200ms;
	buttom:0;
}
		
body{
	margin: 0;
	background-color: #000019;
}

nav{
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 300px;
	background-color: #272727;
	transition: all ease-in-out 200ms;
	border-style: solid;
    border-width: 2px;
    border-color: black;
    overflow-y: auto;
}

nav div {
	position: fixed;
	top: 520px;
	left: 300px;
	width: 20px;
	height: 90px;
	background-color: #272727;
	text-align: center;
    font-size: 25px;
    font-weight: bold;
    line-height: 3.5;
    transition: all ease-in-out 200ms;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

nav div:hover {
	background-color: #404040;
}

#eingabefeld {
	margin-top:20px;
	margin-left: 320px;
	transition: all ease-in-out 200ms;
	color: #fff;
}

#equationForm{
	width:300px;
	color: #000000;
}

#funktionenDropdown{
	width: 80%;
	margin-left:10%;
	margin-top:15px;
	color: #000000;
}

#ersteCheckbox{
	margin-top: 20px;
}


.checkboxen{
	margin-top: 5px;
	margin-left: 20px;
}

#Ueberschrift{
	margin-top: 10px;
	text-align: center;
}

button{
	color: #000000;
	width: 85%;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
}

#equationFormAlternativ{
	color: #000000;
	font-size: 25px;
	width: 500px;
}

#eingabefeld{
	color: #ffffff;
	font-size: 25px;
}

#NullstellenTextfeld{
	color: #000000;
	margin-top: 5px;
	width: 176px;
}

#NullstellenLabel{
	margin-top: 5px;
	margin-left: 20px;
}

#PolstellenTextfeld{
	color: #000000;
	margin-top: 5px;
	margin-left: 8px;
	width: 176px;
}

#PolstellenLabel{
	margin-top: 5px;
	margin-left: 20px;
}

#ExtremstellenTextfeld{
	color: #000000;
	margin-top: 5px;
	margin-left: 8px;
	width: 177px;
}

#ExtremstellenLabel{
	margin-top: 5px;
	margin-left: 20px;
}

#WendepunkteTextfeld{
	color: #000000;
	margin-top: 5px;
	margin-left: 8px;
	width: 170px;
}

#WendepunkteLabel{
	margin-top: 5px;
	margin-left: 20px;
}

#IntegralVonTextfeld{
	color: #000000;
	margin-top: 5px;
	margin-left: 8px;
	width: 170px;
}

#IntegralVonLabel{
	margin-top: 5px;
	margin-left: 20px;
}
#IntegralBisTextfeld{
	color: #000000;
	margin-top: 5px;
	margin-left: 13px;
	width: 170px;
}

#IntegralBisLabel{
	margin-top: 5px;
	margin-left: 20px;
}

#IntegralErgebnisTextfeld{
	color: #000000;
	margin-top: 5px;
	margin-left: 8px;
	width: 170px;
}

#IntegralErgebnisLabel{
	margin-top: 5px;
	margin-left: 20px;
}

::-webkit-scrollbar{
	width:8px;
	background-color:#272727;
}

::-webkit-scrollbar-thumb{
	boarder_radius: 10px;
	background-color:#404040;
}